body {
  background-color: grey;
  height: auto;
  color: white;
  padding: 10px;
  display: flex;
}
div {
  padding: 10px;
  margin: 10px 10px;
  border: 2px solid white;
  height: 60vh;
}
.b1 {
  width: 100px;
}
.b2 {
  width: 800px;
}
.b3 {
  width: 850px;
}
