<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/main.css">
</head>
<body>
    <h3>How to bind a coloumn collective from view model in sfData Grid Xamarin forms?</h3>
    <P>Published on NOV 16 2018 | Tags : <span>binding, coloumn , genral, veiw-model</span></P><hr>
    <h3>How to create coustom grid model?</h3>
    <p>Published on OCT 16 2018 | Tags : <span>grid coloumn </span></p><hr>
    <h3>How to have different page size in sf Data Pager with sf Data Grid when the device is in horizontal and vertical orentation mode?</h3>
    <p>Published on SEP 16 2018 | Tags : <span>orentation , pager, pagging </span></p><hr>
</body>
</html>