@model BookDetails
<h1 class="mb-4">Enter the Book Details</h1>
<form asp-controller="Home" asp-action="AddBook" method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="BookName" class="form-label"></label>
            <input asp-for="BookName" class="form-control" />
            <span asp-validation-for="BookName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Author" class="form-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Category" class="form-label"></label>
            <select asp-for="Category" class="form-select" asp-items="Html.GetEnumSelectList<Category>()">
                <option value="">Select Department</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
           <label asp-for="Published" class="form-label"></label>
            <select asp-for="Published" class="form-control">
                <option value="">Select Year</option>
                @for (int year = DateTime.Now.Year; year >= 1900; year--)
                {
                    <option value="@year">@year</option>
                }
            </select>
            <span asp-validation-for="Published" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Updated" class="form-label"></label>
            <input asp-for="Updated" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" id="updatedDate" />

            <span asp-validation-for="Updated" id="Updatederror" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="col-md-6">
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>
<script>
    document.getElementById('updatedDate').addEventListener('change', function () {
        var selectedDate = new Date(this.value);
        var today = new Date();

        if (selectedDate > today) {

            document.getElementById('Updatederror').innerText = "Updated date cannot be in the future.";
            this.value = ''; // Reset the input value
        }
    });
</script>